



<div>
    
    <form class="form" [formGroup]="PostForm">
        <p class="add">DODAJ NOWY POST</p>
        <div class="item">
          <label >Tytuł:</label>
          <input  type="text" formControlName="title" />
        </div>
        <div class="item">
            <label >Tekst:</label>
            <input  type="text" formControlName="content" />
        </div>
        <div class="item">
            <label >UserID:</label>
            <input  type="text" formControlName="userId" />
        </div>
        <button (click)="sendData()" >SUBMIT </button>
    </form>
</div>


<div class="container" *ngFor="let post of posts">
    <div class="Posts">
        <div  class="user"> Użytkownik: {{post["userId"]}}</div>
        <div class="postNumber">Post :{{post["id"]}}</div>
        <div class="title">{{post["title"]}}</div>
        <div class="body">{{post["body"]}}</div>
    </div>
    
</div>
